<form action="auth/register" method="post">
   
   
    <input type="email" name="email" placeholder="email">
    <input type="username" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="password-repeat" placeholder="password-repeat">
    <input type="submit" value="submit" />


</form>